{% extends 'base.html.twig' %}

{% block title %}SaveThisVideo{% endblock %}

{% block body %}
    <div class="container px-4 px-md-3">
        <div class="row align-items-lg-center">
            <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
                <img class="img-fluid mb-3 mb-md-0" src="images/video.png" alt="Get any video from twitter">
            </div>
            <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
            <h1 class="mb-3">
                Contactez moi directement sur Twitter <a target="_blank" href="https://twitter.com/guillaumeharari">@guillaumeharari</a>
            </h1>
            <p>
                Ceci est la toute première version du site et du bot.
                <br>
                Aucun cookies récupéré.
                <br>
                Aucune donnée personnelle récupérée.
                <br>
                Aucune donnée hébergée ici. Toutes ces données sont directement hébergées par Twitter et sous la responsabilité de Twitter.
                <br>
                N'hésitez pas à me faire vos retours !
            </p>
            </div>
        </div>
    </div>
{% endblock %}
