{% extends 'base.html.twig' %}

{% block title %}SaveThisVideo{% endblock %}

{% block body %}
    <div class="container px-4 px-md-3">
        <div class="row align-items-lg-center">
            <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
                <img class="img-fluid mb-3 mb-md-0" src="images/video.png" alt="Get any video from twitter">
            </div>
            <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
            <h1 class="mb-3">
                Save any video from twitter and stock it with SaveThisVideo
            </h1>
            <p>
                Quickly save video just with a simple mention in Twitter. That is the fast way to save picture or video posted from any user on Twitter. No limit
            </p>
            </div>
        </div>
    </div>
{% endblock %}
