.album {
  .card-img-top {
    vertical-align: middle;
    max-width: 100%;
    max-height: 150px;
    height: auto;
    width: auto;
  }
  .card {
    height: 100%;
  }
}
.far.fa-play-circle {
  position: absolute;
  top: 14%;
  left: 44%;
  font-size: 50px;
  color: white;
}
video {
  width: 100%;
}
