<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for medium in media %}
                {% include 'component/_card.html.twig' %}
            {% else %}
                <p>
                Aucun utilisateur avec ce pseudo, soit :
                    <ul>
                        <li>
                            Le pseudo que vous recherchez n'existe pas, vérifiez l'orthographe
                        </li>
                        <li>
                            Votre média n'est pas encore prêt, revenez dans une minute !
                        </li>
                    </ul>
                </p>

            {% endfor %}
        </div>
    </div>
</div>
