<form class="form-inline my-2 my-lg-0" action="{{ path('search') }}">
    <input required name="pseudo" class="form-control mr-sm-2" type="search" placeholder="Votre pseudo twitter" aria-label="Search">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Rechercher</button>
</form>
